---
// Styles
import "./../styles/global.css";

// Component
import Aside from "./../components/Aside.astro";

// Variables
const { page } = Astro.props;

type page = {
  title: string;
  link: string;
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    {/* Design start */}
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css" />
    {/* Design end*/}
    <title>{"Registration Server"}</title>
  </head>
  <body class="sidebar-mini sidebar-open" style="height:100%;">
    <div class="wrapper">
      <Aside />
      <div class="content-wrapper" style="min-height:100vh">
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>{page.title}</h1>
              </div>
              {
                /*<div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active"><a href={page.link}>{page.title}</a></li>
                </ol>
              </div> */
              }
            </div>
          </div>
        </div>
        <div class="content">
          <div class="container-fluid">
            <slot />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
