---
import ServerStatus from "./../modules/ServerStatus.astro";
---

<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="/" class="brand-link">
    <img src="./logo.png" class="brand-image img-circle" />
    <span>E-Scrap Solutions</span>
  </a>

  <div class="sidebar">
    <div class="user-panel mt-3 mb-3 d-flex">
      <ServerStatus shouldHide={false} />
    </div>

    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="/components" class="nav-link">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>Components</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/registration" class="nav-link">
            <i class="nav-icon fas fa-edit"></i>
            <p>Registration</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/reusability" class="nav-link">
            <i class="nav-icon fas fa-tree"></i>
            <p>Reusability</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/testing" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Testing</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>

<style lang="scss">
  .user-panel {
    white-space: pre-wrap;
  }
</style>
